<?xml version='1.0' encoding='utf-8'?>
<widget id="com.calendario.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Calendario DIM</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Configuracion de iconos para Android -->
    <platform name="android">
        <icon src="www/IMAGES/logo.png" />
        <icon density="ldpi" src="www/IMAGES/logo.png" />
        <icon density="mdpi" src="www/IMAGES/logo.png" />
        <icon density="hdpi" src="www/IMAGES/logo.png" />
        <icon density="xhdpi" src="www/IMAGES/logo.png" />
        <icon density="xxhdpi" src="www/IMAGES/logo.png" />
        <icon density="xxxhdpi" src="www/IMAGES/logo.png" />
    </platform>
    
    <!-- Icono global por defecto -->
    <icon src="www/IMAGES/logo.png" />
</widget>
